/* Sidebar.module.css */
.sidebar {
    width: 210px; 
    background:#2894a5; 
    color:#fff; 
    display:flex; 
    flex-direction:column; 
    align-items:center; 
    padding:1rem;}
.menu {
    flex:1; 
    width:100%;}
.item {
    display:flex; 
    gap:.5rem; 
    align-items:center; 
    padding:.6rem 1rem; 
    border-radius:6px; 
    text-decoration:none; 
    color:#fff;}
.item:hover {
    background:rgba(0,0,0,.1);}
.logout {
    margin-top:auto; 
    background:none; 
    border:none; 
    color:#fff; 
    cursor:pointer; 
    padding:.8rem;
    /* width: 100%;  */
    display: flex;
    align-items: center; 
    gap: .5rem; 
}
.logo {
    height:60px; 
    width:100%; 
    background:#fff; 
    border-radius:8px; 
    margin-bottom:1rem;}
